<?xml version="1.0"?>
<config>
    <modules>
        <Perpetto_Perpetto>
            <version>0.1.0</version>
        </Perpetto_Perpetto>
    </modules>
    <global>
        <events>
            <perpetto_slot_delete_commit_after>
                <observers>
                    <perpetto_delete_slot_widgets>
                        <class>perpetto/observer</class>
                        <method>deleteSlotWidgets</method>
                    </perpetto_delete_slot_widgets>
                </observers>
            </perpetto_slot_delete_commit_after>
            <perpetto_slots_update_after>
                <observers>
                    <perpetto_update_slots_widgets>
                        <class>perpetto/observer</class>
                        <method>updateSlotsWidgets</method>
                    </perpetto_update_slots_widgets>
                </observers>
            </perpetto_slots_update_after>
        </events>
        <models>
            <perpetto>
                <class>Perpetto_Perpetto_Model</class>
                <resourceModel>perpetto_resource</resourceModel>
            </perpetto>
            <perpetto_resource>
                <class>Perpetto_Perpetto_Model_Resource</class>
                <entities>
                    <slots>
                        <table>perpetto_slots</table>
                    </slots>
                </entities>
            </perpetto_resource>
        </models>
        <resources>
            <perpetto_setup>
                <setup>
                    <module>Perpetto_Perpetto</module>
                </setup>
            </perpetto_setup>
        </resources>
        <blocks>
            <perpetto>
                <class>Perpetto_Perpetto_Block</class>
            </perpetto>
        </blocks>
        <helpers>
            <perpetto>
                <class>Perpetto_Perpetto_Helper</class>
            </perpetto>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_config_data_save_before>
                <observers>
                    <perpetto_admin_setting_save_old_magento>
                        <type>singleton</type>
                        <class>perpetto/observer</class>
                        <method>saveAdminSettings</method>
                    </perpetto_admin_setting_save_old_magento>
                </observers>
            </core_config_data_save_before>
            <model_config_data_save_before>
                <observers>
                    <perpetto_admin_setting_save>
                        <type>singleton</type>
                        <class>perpetto/observer</class>
                        <method>saveAdminSettings</method>
                    </perpetto_admin_setting_save>
                </observers>
            </model_config_data_save_before>
            <catalog_product_save_after>
                <observers>
                    <perpetto_admin_product_save>
                        <class>perpetto/observer</class>
                        <method>saveProduct</method>
                    </perpetto_admin_product_save>
                </observers>
            </catalog_product_save_after>
            <admin_system_config_changed_section_design>
                <observers>
                    <perpetto_update_slots_widgets>
                        <class>perpetto/observer</class>
                        <method>updateSlotsWidgets</method>
                    </perpetto_update_slots_widgets>
                </observers>
            </admin_system_config_changed_section_design>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <perpetto_register_customer_service_block>
                        <class>perpetto/observer</class>
                        <method>setShowCustomerServiceBlock</method>
                    </perpetto_register_customer_service_block>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <perpetto_loging_customer_service>
                        <class>perpetto/observer</class>
                        <method>setShowCustomerServiceBlock</method>
                    </perpetto_loging_customer_service>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <perpetto_edit_customer_service>
                        <class>perpetto/observer</class>
                        <method>setShowCustomerServiceBlockEdit</method>
                    </perpetto_edit_customer_service>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <perpetto_newsletter_customer_service>
                        <class>perpetto/observer</class>
                        <method>setShowCustomerServiceBlockOnNewsletterSubscription</method>
                    </perpetto_newsletter_customer_service>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <perpetto_order_customer_service>
                        <class>perpetto/observer</class>
                        <method>setShowCustomerServiceBlockAfterOrder</method>
                    </perpetto_order_customer_service>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <layout>
            <updates>
                <perpetto_perpetto>
                    <file>perpetto/perpetto.xml</file>
                </perpetto_perpetto>
            </updates>
        </layout>
        <routers>
            <perpetto>
                <use>standard</use>
                <args>
                    <module>Perpetto_Perpetto</module>
                    <frontName>perpetto</frontName>
                </args>
            </perpetto>
        </routers>
    </frontend>
</config>
